body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background: linear-gradient(to left, #ffffff 60%, #e6b70c 40%);
}
.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15px;
  right: 100px;
  z-index: 2;
}
a {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
#value-meal {
  position: absolute;
  left: 150px;
  top: 200px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #DB0007;
  font-size: 60px;
}
#announcment-div1 {
  position: absolute;
  left: 150px;
  top: 320px;
  color: red;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
}
#announcment-div2 {
  position: absolute;
  left: 150px;
  top: 380px;
  color: red;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
}
.image {
  position: absolute;
  left: 150px;
  top: 15px;
}
#background-video {
  width: 59%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 600px;
  right: 0;
  top: 0;
  z-index: 1;
}
.hamburger-menu {
  visibility: hidden;
}
@media screen and (max-width: 700px) {
  .image {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: #e6b70c;
  }
  #value-meal {
    position: absolute;
    left: 15px;
    top: 75px;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    color: transparent;
  }
  #announcment-div1 {
    position: absolute;
    left: 15px;
    top: 155px;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    color: red;
  }
  #announcment-div2 {
    position: absolute;
    left: 15px;
    top: 205px;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    color: red;
  }
  #background-video {
    width: 95%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 15px;
    top: 250px;
    right: 0;
    z-index: 1;
  }
  .navigation-container {
    visibility: hidden;
  }
  .hamburger-menu {
    visibility: visible;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 420px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}
